@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
.links {
  color: #005876;
  cursor: pointer;
}
.links:hover {
  text-decoration: underline;
}
#container {
  width: 450px;
  margin: 20px auto;
  color: #4a4a3b;
}
#container > div {
  width: 100%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 15px 0;
}
#container > div > div {
  padding: 20px 35px 40px;
}
#container > div > div > p:first-child {
  text-align: right;
}
#container p + p {
  font-size: 32px;
  font-weight: 300;
  color: black;
  margin-bottom: 0;
}

h5 {
  margin: 15px 0;
}
#container label {
  display: block;
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 10px;
}
#cpassword {
  border: 1px solid rgb(216, 216, 216);
  width: 100%;
  box-sizing: border-box;
  padding: 15px 10px;
  outline: none;
}
#container .pass {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 10px;
  outline: none;
  border: 1px solid rgb(184, 184, 184);
}
#container .pass:hover {
  border: 1px solid rgb(70, 70, 70);
}
#container .pass:focus {
  border: 1px solid #00bf6f;
}
#container .inPass {
  color: orangered;
  border: 1px solid orangered;
}
#container .inPass:hover {
  border: 1px solid orangered;
}
input + p {
  font-size: 13px;
  color: gray;
  line-height: 20px;
}

#container button {
  width: 100%;
  padding: 17px 0;
  font-weight: 600;
  border: none;
  color: white;
  background-color: #99e5c5;
  margin-top: 20px;
  cursor: not-allowed;
}
#container .btn {
  background-color: #00bf6f;
  cursor: pointer;
}
#container + div {
  display: flex;
  column-gap: 15px;
  font-size: 13px;
  padding: 0 20px;
  justify-content: end;
  margin-bottom: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
}
@media all and (max-width: 580px) {
  #container {
    width: 100%;
  }
  #container > div {
    box-shadow: none;
  }
  img {
    display: block;
    margin: auto;
  }
  #container + div {
    flex-direction: column;
    position: relative;
  }
  #container + div p {
    margin-top: 0;
  }
}
/* ------------------------------------------- ALERT ---------------------------*/

.alert {
  position: fixed;
  top: 10px;
  right: 50%;
  transform: translate(50%, -120%);
  height: 50px;
  width: 350px;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 600;
  /* visibility: hidden; */
  /* transition: all 500ms; */
}
@keyframes success {
  from {
    /* visibility: hidden; */
    background-color: #00bf6fb5;
    transform: translate(50%, -120%);
  }
  to {
    /* visibility: visible; */
    background-color: #00bf6fb5;
    transform: translate(50%, 0);
  }
}
@keyframes fail {
  from {
    /* visibility: hidden; */
    background-color: rgba(255, 0, 0, 0.594);
    transform: translate(50%, -120%);
  }
  to {
    /* visibility: visible; */
    background-color: rgba(255, 0, 0, 0.594);
    transform: translate(50%, 0);
  }
}
.alert i {
  cursor: pointer;
  font-size: 25px;
}
.promtS {
  /* visibility: visible; */
  background-color: #00bf6fb5;
  transform: translate(50%, 0);
  animation: success 500ms;
}
.promtF {
  /* visibility: visible; */
  transform: translate(50%, 0);
  background-color: rgba(255, 0, 0, 0.594);
  animation: fail 500ms;
}
